* {
    margin:0;
}

html {
    box-sizing: border-box;
} 
body {
    position:relative;
}
a {
    text-decoration: none;
}

img {
    width: 200px;
}

@font-face {
    font-family: "Futura";
    src:
      local("Futura"),
      url("/System/Library/Fonts/Supplemental/Futura.ttc") format("opentype") tech(color-COLRv1);
}

li, h1, h2, h3, h4, h5, p, a, button{
    font-family: futura;
    color: #303030;
    margin: 0px;
}

.bgr {
    width:100%;
    height:50%;
    background-color: rgb(116, 93, 93);
    margin: 0 auto;
    background-image: url("../Files/Ladder flip.png");
    background-size:cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -3;
}

main {
    padding:0 15rem 0 15rem;
    margin: 0 auto 0 auto;
}

/* Navigation Bar */

header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 2rem auto;
    padding:0 10rem;
    min-width: 300px;
    max-width: 100%;
}

.hamburger img {
    width:18px;
    display: none;
}

.nav-list {
    height: 10rem;
    display:flex;
    justify-content:space-between;
    max-width: 30rem;
    min-width: 300px;
    align-items: center;
    flex:1;
}

.nav-list2 {
    display:flex;
    justify-content: space-between;
    max-width: 13rem;
    min-width: 2rem;
    align-items: center;
    flex:1;
}

.nav-item {
    list-style: none;
    font-size: 1.14rem;
    text-wrap: nowrap;
    max-width:8rem;
    flex: 1;
}

#symbol {
    max-width:2.25rem;
    cursor:pointer;
    border-radius: 50rem;
    flex: 1;
}

#symbol:hover {transform: scale(1.1);}
#text:hover {transform: scale(1.1);}

header li{
    list-style: none;
}

.nav-item a {
    text-decoration: none;
    color: #303030;
}

.nav-item:second-child {
    margin-right:auto;
}

.nav-item #logo {
    width: 5rem;
    cursor:pointer;
}

main {
    padding: 0 0 5rem 0;

}


/*---body---*/
.jpg {
    max-width: 100%;
    min-width: 300px;
    min-height:600px;
    background-image: url("../Drizzle/1.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin:0;    
}

#two {background-image: url("../Drizzle/2.jpg");}
#three {background-image: url("../Drizzle/3.jpg");}
#four {background-image: url("../Drizzle/4.jpg");}
#five {background-image: url("../Drizzle/5.jpg");}
#six {background-image: url("../Drizzle/6.jpg");}
#seven {background-image: url("../Drizzle/7.jpg");}
#eight {background-image: url("../Drizzle/8.jpg");}
#nine {background-image: url("../Drizzle/9.jpg");}
#ten {background-image: url("../Drizzle/10.jpg");}
#eleven {background-image: url("../Drizzle/11.jpg");}
#twelve {background-image: url("../Drizzle/12.jpg");}
#thirteen {background-image: url("../Drizzle/13.jpg");}
#fourteen {background-image: url("../Drizzle/14.jpg");}
#fifteen {background-image: url("../Drizzle/15.jpg");}
#sixteen {background-image: url("../Drizzle/16.jpg");}
#seventeen {background-image: url("../Drizzle/17.jpg");}
#eighteen {background-image: url("../Drizzle/18.jpg");}
#nineteen {background-image: url("../Drizzle/19.jpg");}
#twenty {background-image: url("../Drizzle/20.jpg");}
#twentyone {background-image: url("../Drizzle/21.jpg");}
#twentytwo {background-image: url("../Drizzle/22.jpg");}
#twentythree {background-image: url("../Drizzle/23.jpg");}
#twentyfour {background-image: url("../Drizzle/24.jpg");}
#twentyfive {background-image: url("../Drizzle/25.jpg");}
#twentysix {background-image: url("../Drizzle/26.jpg");}
#twentyseven {background-image: url("../Drizzle/27.2.jpg");
}

.arrows {
    display: flex;
    justify-content: space-between;
    margin: 8rem 5rem 0 5rem;
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:64px;
}
.l-box {
    display: flex;
    flex-direction: column;
    width:64px;
    align-items: center;
}

.right {
    background-image: url("../Files/Arrowright.jpg");
    background-position: center;
    background-size: cover;
    width:4rem;
    height:4rem;
    cursor:pointer;
    margin-bottom: .3rem;
}
.left {
    background-image: url("../Files/Arrowleft.jpg");
    background-position: center;
    background-size: cover;
    width:4rem;
    height:4rem;
    cursor:pointer;
    margin-bottom: .3rem;
}
.right:hover {transform: scale(1.1);}
.left:hover {transform: scale(1.1);}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #A7D0A4;
    width:100%;
    height:16rem;
    margin-top: 5rem;
}

.foot {
    display:flex;
    margin: 0 auto 2rem auto;
    justify-content: space-between;
    align-items: center;
    max-width:900px;
    min-width:300px;
    
}

.footer img {
    max-height: 3rem;
    max-width: 3rem;
    cursor:pointer;
    background-color: #FFFFFF;
    border-radius: 50px;
}

.footer button {
    font-size: 1.06rem;
    color: #FFFFFF;
    padding: 0.4rem 2.1rem;
    border: none;
    background-color: #353535;
    border-radius: 4px;
    cursor:pointer;
}

.icons {
    max-width: 25rem;
    min-width: 10rem;
    display: flex;
    justify-content: space-between;
    margin: 0 4rem 0 4rem;
}

.icons img:hover {transform: scale(1.1);}
footer button:hover {transform: scale(1.04);}
#email a:hover {transform: scale(1.04);}

#email {
    display: flex;
    justify-content: space-between;
    max-width: 20rem;
    min-width: 10rem;
}

#email a {
    text-decoration: none; 
    margin-left: 1rem;
}

#sign-off {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 1270px) {
    /*---navigation---*/
    header li {
        transform: scale(.9);
    }
    header {
        padding:0 5rem 0 5rem;
    }
    #symbol:hover {transform: scale(1.1);}
    #text:hover {transform: scale(1);}

    main {
        padding: 0 13rem 0rem 13rem;
    }
    
    .jpg {
        max-width: 100%;
        min-width: 300px;
        min-height:440px;
        background-image: url("../Drizzle/1.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin:0;    
    }

    .arrows {
        width:100%;
        margin: 2rem auto 0 auto;
    }
    .left {
        width:3rem;
        height:3rem;
    }
    .right {
        width:3rem;
        height:3rem;
    }


    /*---footer---*/
    .footer img {
        max-height: 2rem;
        max-width: 2rem;
    } 
    .icons {
        max-width: 5rem;
    }

    .footer button {
        font-size: 1rem;
        color: #FFFFFF;
        padding: 0.3rem 1.5rem;
        border: none;
        background-color: #353535;
        border-radius: 4px;
        cursor:pointer;
    }
}
@media only screen and (max-width: 1007px) {
    main {
        padding:0 20vw;
    }
    
    .bgr {
        background-color: rgb(255, 255, 255);
        background-image: url("../Files/Ladder flip.png");
        background-size:contain;
    }
    /*---navigation---*/
    header li {
        margin: 0;
        transform: scale(.7);
    }
    .nav-list {
        justify-content: space-between;
        padding-inline-start: 0px;
        max-width: 40%;
        min-width: 300px;
    }
    .nav-list2 {
        display: none;
    }
    header {
        min-width: 100px;
        padding: 0rem 5rem;
        margin-bottom: 2rem;
    }
 
    #symbol:hover {transform: scale(1.1);}
    #text:hover {transform: scale(.8);}

    .nav-item #logo {
        width: 3.5rem;
        margin:0rem;
    }

   
   
    .jpg {
        max-width: 100%;
        min-width: 300px;
        min-height:320px;
        margin:0 1rem 0 1rem;    
    }





    /*---footer---*/
    .footer {
        padding: .5rem 0;
    }
    .footer img {
        max-height: 2rem;
        max-width: 2rem;
    }
    .icons {
        max-width: 5rem;
    }
    .foot {
        display: flex;
        flex-direction: column;
        height: 110px;
        font-size: .8rem;
    }

    .footer button {
        font-size: .7rem;
        padding: 0.3rem 1.5rem;
        margin-bottom: .8rem;
    }
    #sign-off {
        height: 1.7rem;
        font-size: .6rem;
    }
}
/*fakey*/
@media only screen and (max-width: 801px) {

    .jpg {
        max-width: 100%;
        min-width: 300px;
        min-height:200px;
    }
    .left {
        width:2rem;
        height:2rem;
    }
    .right {
        width:2rem;
        height:2rem;
    }
}
/*fakey*/
@media only screen and (max-width: 550px) {
    main {
        padding:0 7vw 0 7vw;
        
    }
    /*---navigation---*/
    header li {
        transform: scale(.9);
    }

    header {
        min-width: 300px;
        padding: 0rem 1.5rem;
        margin-bottom: 2rem;
    }
    #symbol:hover {transform: scale(1.1);}
    #text:hover {transform: scale(1);}
    .bgr {
        background-image: url("../Files/Ladder flip.png");
        background-size:cover;
    }
    .nav-item #logo {
        width: 3.5rem;
    }

    .hamburger img {
        display: block;
    }
    #text {
        display: none;
    }

    #symbol {
        display:none;
    }



    .jpg {
        max-width: 100%;
        min-width: 300px;
        min-height:200px;
        margin:0 1rem 0 1rem;    
    }

    /*---footer---*/
    .footer {
        padding: .5rem 0
    }
 
    .footer img {
        max-height: 2rem;
        max-width: 2rem;
    }
    .icons {
        max-width: 5rem;
    }

    .footer button {
        font-size: .7rem;
        padding: 0.3rem 1.5rem;
        margin-bottom: .8rem;
    }
    #sign-off {
        height: 1.7rem;
        font-size: .6rem;
    }
}
